# Virtual environment
venv/
.env/

# Python cache files
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS-specific files
.DS_Store
Thumbs.db

# IDE/editor folders
.vscode/
.idea/
